:root {
  --color-white: #fff;
  --color-black: #000;

  --color-gray: #888eb0;

  --color-primary: #7c5dfa;
  --color-primary-light: #9277ff;
  --color-primary-light-2: #7e88c3;

  --color-danger: #ec5757;
  --color-danger-light: #ff9797;

  --color-light-1: #f8f8fb;
  --color-light-2: #dfe3fa;

  --color-dark-1: #0c0e16;
  --color-dark-2: #141625;
  --color-dark-3: #1e2139;
  --color-dark-4: #252945;
  --color-dark-5: #373b53;

  --text-color: #ffffff;
  --text-input-label: #dfe3fa;
  --base-background: #141625;
  --input-background: #1e2139;
  --input-border: #252945;
}

.theme-light {
  --text-color: #0c0e16;
  --text-input-label: #7e88c3;
  --base-background: #f8f8fb;
  --input-background: #ffffff;
  --input-border: #dfe3fa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  color: var(--text-color);
  background: var(--base-background);
  line-height: 1.5;
  font-size: 1.2rem;
  font-family: 'Spartan', -apple-system, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

select {
  font-weight: 700;
  font-size: 1.2rem;
  padding: 1rem;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

button {
  font-size: 1.2rem;
  font-weight: 700;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
ol {
  list-style: none;
}

@keyframes fadeIn {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
